@charset "utf-8";
$width:1190px;
$color1:#F5F5F5;
$color2:#FC4200;
$color3:#666;
$color4:#fff;
$color5:#999;
body,
ul,
li,
p {
    padding: 0;
    margin: 0;
}

body {
    font-family: "宋体";
    background: #f4f4f4;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

header {
    background: #f5f5f5;
}

//search
.search_wrap {
    background: #fff;
    .search {
        width: $width;
        margin: 0 auto;
        padding-top: 24px;
        height: 106px;
        >img {
            float: left;
            margin-top: 10px;
            margin-left: 22px;
        }
        .search_box {
            float: left;
            margin-left: 93px;
            width: 630px;
            .search_type {
                margin-left: 17px;
                height: 22px;
                overflow: hidden;
                >span {
                    font-size: 12px;
                    color: #ff5400;
                    margin-left: 2px;
                    display: block;
                    line-height: 22px;
                    height: 22px;
                    width: 36px;
                    text-align: center;
                    float: left;
                    &:hover {
                        background: #FFEEE5;
                    }
                    &.search_choose {
                        background: #ff5200;
                        font-weight: 700;
                        color: #fff;
                        border-radius: 5px 5px 0 0;
                    }
                }
            }
            .search_search {
                $height: 40px;
                $height1: 36px;
                display: flex;
                .search_left {
                    flex: 1;
                    position: relative;
                    border: 2px solid #ff5000;
                    border-radius: 20px 0 0 20px;
                    height: $height1;
                    >input {
                        border: none;
                        width: 100%;
                        height: 34px;
                        text-indent: 10px;
                        outline: none;
                        border-radius: 20px 0 0 20px;
                    }
                    .search_result {
                        position: absolute;
                        left: 0;
                        top: 40px;
                        z-index: 1;
                        display: none;
                        width: 100%;
                        background: #fff;
                        border: 1px solid #f5f5f5;
                        >li {
                            padding: 5px;
                            cursor: pointer;
                            &:hover {
                                background: #F5F5F5;
                            }
                        }
                    }
                }
                .search_btn {
                    cursor: pointer;
                    width: 74px;
                    height: $height;
                    background: #ff5600;
                    border-radius: 0 20px 20px 0;
                    font-size: 20px;
                    font-weight: 600;
                    text-align: center;
                    line-height: 40px;
                    color: #fff;
                }
            }
            .search_hot {
                overflow: hidden;
                width: 630px;
                padding: 10px 0 20px;
                .keyword {
                    float: left;
                    overflow: hidden;
                    a {
                        float: left;
                        color: #6C6C6C;
                        font-size: 12px;
                        padding-right: 6px;
                        &.hot {
                            color: #ff5600;
                        }
                        &:hover {
                            color: #ff5600;
                        }
                    }
                }
                .keyword_more {
                    @extend .keyword;
                    float: right;
                }
            }
        }
        .search_code {
            float: right;
            margin-right: 100px;
            position: relative;
            color: #FF5000;
            font-size: 12px;
            padding: 5px;
            cursor: pointer;
            text-align: center;
            border: 1px solid #f5f5f5;
            img {
                width: 62px;
                height: 62px;
                display: block;
            }
            p {
                position: absolute;
                width: 20px;
                height: 20px;
                border: 1px solid #f5f5f5;
                left: -22px;
                top: -1px;
            }
        }
    }
}

//nav
.nav {
    width: 100%;
    background: #FF6000;
    .nav_box {
        width: $width;
        margin: 0 auto;
        overflow: hidden;
        >ul {
            overflow: hidden;
            >li {
                float: left;
                font-size: 16px;
                font-weight: 700;
                ul {
                    border-right: 2px solid #fff;
                    overflow: hidden;
                    li {
                        float: left;
                        a {
                            color: #fff;
                            padding: 0px 10px;
                        }
                    }
                }
                &:first-of-type~li {
                    padding: 6px 0;
                }
                &:first-of-type {
                    width: 190px;
                    height: 30px;
                    background: #FC4200;
                    line-height: 28px;
                    ul {
                        border: none;
                        li {
                            width: 100%;
                            a {
                                display: block;
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }
    }
}

//第一部分
.taobao_first {
    width: $width;
    margin: 0 auto;
    overflow: hidden;
    .taobao_first_left {
        float: left;
        $width: 900px;
        width: $width;
        .taobao_first_left_top {
            width: $width;
            height: 514px;
            overflow: hidden;
            >.caidan {
                background: #fff;
                position: relative;
                width: 188px;
                height: 512px;
                float: left;
                border: 1px solid #FC4200;
                >li {
                    font-size: 14px;
                    padding: 8px 0;
                    text-indent: 10px;
                    &:hover {
                        background: #FFEEE5;
                        a {
                            color: #FF5000;
                        }
                        >ul {
                            >.Mulu_list {
                                display: block;
                            }
                        }
                    }
                    >a {
                        color: #666;
                        font-weight: 400;
                        padding: 0 2px;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                    >ul {
                        text-indent: 0px;
                        >.Mulu_list {
                            background: #fff;
                            z-index: 999;
                            position: absolute;
                            left: 100%;
                            top: -1px;
                            border: 2px solid red;
                            font-size: 12px;
                            width: 705px;
                            height: 510px;
                            display: none;
                            >.Mulu_list_left {
                                width: 450px;
                                >.list {
                                    height: 170px;
                                    >p {
                                        margin: 10px 0 10px 20px;
                                        overflow: hidden;
                                        >a:first-of-type {
                                            font-size: 16px;
                                            font-weight: 700;
                                            color: black;
                                            float: left;
                                        }
                                        >a:nth-of-type(2) {
                                            font-size: 12px;
                                            font-weight: 500;
                                            color: #666;
                                            float: right;
                                        }
                                    }
                                    >.list_detail {
                                        margin: 20px;
                                        >a {
                                            color: #666;
                                            display: inline-block;
                                            margin: 0px 10px 5px 0;
                                            line-height: 20px;
                                            &.hot {
                                                color: #FC4200;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .banner {
                margin: 10px 10px 0 10px;
                $width: 520px;
                width: $width;
                height: 514px;
                float: left;
                .banner1 {
                    width: $width;
                    height: 280px;
                    background: yellow;
                    position: relative;
                    >ul.carousel-inner{
                        width: 100%;
                        height: 100%;
                        position: relative;
                        >li{
                            background: #FC4200;
                            position: absolute;
                            left: 0;
                            top: 0;
                            width: 100%;
                            height: 100%;
                        }
                    }
                    &:hover{
                        .prev{
                            display: block;
                        }
                        .next{
                            display: block;
                        }
                    }
                    .prev{
                        position: absolute;
                        top: 0;
                        cursor: pointer;
                        bottom: 0;
                        left: 0px;
                        display: none;
                        margin: auto;
                    }
                    .next{
                        cursor: pointer;
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        display: none;
                        margin: auto;
                        right: 0px;
                    }
                    .pointer{
                        position: absolute;
                        overflow: hidden;
                        right: 20px;
                        bottom: 20px;
                        >li{
                            cursor: pointer;
                            float: left;
                            margin-left: 5px;
                            width: 10px;
                            height: 10px;
                            border-radius: 50%;
                            border: 2px solid #fff;
                            &:hover{
                                border: 2px solid #FF5400;
                            }
                        }
                        >li.hover{
                            border: 2px solid #FF5400;
                        }
                    }
                }
                .banner2 {
                    width: $width;
                    height: 230px;
                    background: #2E9FDB;
                    .banner2_top {
                        padding-top: 11px;
                        height: 18px;
                        img {
                            float: left;
                        }
                        em {
                            float: left;
                            font-size: 12px;
                            line-height: 20px;
                            color: #666;
                            padding-left: 10px;
                            font-style: normal;
                        }
                        strong {
                            font-weight: normal;
                            float: right;
                            font-size: 10px;
                            b {
                                font-weight: normal;
                                color: red;
                            }
                        }
                    }
                }
            }
            .ad {
                float: left;
                width: 160px;
                height: 512px;
                margin: 10px 10px 0 0;
                .ad_top {
                    width: 100%;
                    height: 280px;
                    a {
                        display: block;
                        width: 100%;
                        height: 100%;
                        >img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
                p {
                    color: #666;
                    font-size: 12px;
                    line-height: 12px;
                    padding: 10px 0 0 0;
                }
                .ad_bottom {
                    width: 160px;
                    height: 200px;
                    margin-top: 2px;
                    a {
                        display: block;
                        width: 100%;
                        height: 100%;
                        >img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
        }
        .taobao_first_left_bottom {
            background: #fff;
            margin-top: 10px;
            width: 856px;
            height: 73px;
            padding: 14px 14px 12px 20px;
            position: relative;
            overflow: hidden;
            .toutiao_title {
                width: 180px;
                height: 100%;
                float: left;
                background: url(../img/TB1KbhkbUgQMeJjy0FeXXXOEVXa-129-26.png) 0 14px no-repeat;
                p {
                    margin-top: 42px;
                    font-size: 12px;
                    line-height: 24px;
                    color: #666;
                    font-weight: 400;
                }
            }
            .toutiao_content {
                width: 676px;
                height: 100%;
                float: left;
            }
            .more {
                position: absolute;
                right: 20px;
                top: 20px;
                a {
                    color: #666;
                    font-size: 12px;
                    &:hover {
                        color: #FF5200;
                    }
                }
            }
        }
    }
    .taobao_first_right {
        float: right;
        margin-top: 10px;
        width: 290px;
        height: 612px;
        background: #fff;
        .person {
            font-size: 12px;
            width: 100%;
            height: 132px;
            padding: 3px 0 10px 0;
            background: url(../img/bac.png) no-repeat;
            background-size: cover;
            display: flex;
            flex-direction: column;
            align-items: center;
            .touxiang {
                width: 50px;
                height: 50px;
                padding: 2px;
                a {
                    img {
                        border-radius: 50%;
                        width: 50px;
                        height: 50px;
                    }
                }
            }
            .person_msg {
                margin-top: 3px;
            }
            .person_msg1 {
                a {
                    color: #FC4200;
                    background: #FFEEE5;
                    display: inline-block;
                    border-radius: 10px;
                    padding: 0px 10px 2px 0;
                    height: 16px;
                    line-height: 14px;
                    >span {
                        display: inline-block;
                        width: 16px;
                        height: 16px;
                        background: url(../img/TB1eiXTXlTH8KJjy0FiXXcRsXXa-24-595.png) 0 0 no-repeat;
                    }
                    &:first-of-type {
                        >span {
                            background-position: 0 -572.5px;
                        }
                    }
                    &:nth-of-type(2) {
                        >span {
                            background-position: 0 -528px;
                        }
                    }
                }
            }
            .person_fun {
                width: 100%;
                padding: 10px;
                display: flex;
                justify-content: center;
                >a {
                    height: 25px;
                    width: 28%;
                    display: block;
                    background: #FF6000;
                    color: #fff;
                    font-size: 14px;
                    font-weight: 700;
                    text-align: center;
                    line-height: 25px;
                    margin-right: 8px;
                    border-radius: 5px;
                    &:nth-of-type(3) {
                        margin-right: 0;
                    }
                }
            }
        }
        .jubao {
            position: relative;
            width: 100%;
            height: 26px;
            background: #FFEEE5;
            text-align: center;
            >a {
                font-size: 12px;
                line-height: 26px;
                color: #FC4200;
            }
            span {
                position: absolute;
                top: 0;
                bottom: 0;
                right: 30px;
                margin: auto;
                display: inline-block;
                width: 0px;
                height: 0px;
                margin-right: 30px;
                border-top: 5px solid transparent;
                border-right: 5px solid transparent;
                border-bottom: 5px solid transparent;
                border-left: 5px solid #FC4200;
            }
        }
        .gonggao {
            width: 100%;
            height: 98px;
            >ul {
                position: relative;
                margin-top: 10px;
                padding: 4px 8px 0;
                height: 24px;
                >li {
                    float: left;
                    >a {
                        display: block;
                        width: 32px;
                        height: 20px;
                        line-height: 20px;
                        margin: 0 11px;
                        text-align: center;
                        font-size: 12px;
                        color: black;
                        border-bottom: 2px solid transparent;
                        &:hover {
                            color: #FC4200;
                        }
                    }
                    >ul {
                        position: absolute;
                        left: 0;
                        top: 100%;
                        display: none;
                        width: 260px;
                        padding: 10px;
                        >li {
                            overflow: hidden;
                            word-break: break-all;
                            width: 50%;
                            height: 25px;
                            float: left;
                            a {
                                line-height: 25px;
                                font-size: 12px;
                                color: #666;
                                &:hover {
                                    color: #FC4200;
                                }
                            }
                        }
                        >.enhance {
                            a {
                                color: #FC4200;
                            }
                        }
                    }
                }
                >li:nth-of-type(1) {
                    >a {
                        border-bottom: 2px solid #FC4200;
                        font-weight: 700;
                    }
                    >ul {
                        display: block;
                    }
                }
                >.gonggao_hover {
                    >a {
                        border-bottom: 2px solid #FC4200;
                        font-weight: 700;
                    }
                    >ul {
                        display: block;
                    }
                }
            }
        }
        .function {
            width: 290px;
            height: 225px;
            a {
                display: flex;
                flex-direction: column;
                align-items: center;
                color: #666;
                float: left;
                width: 71px;
                height: 74px;
                border-top: 1px solid #F5F5F5;
                border-right: 1px solid #F5F5F5;
                &:nth-of-type(4) {
                    padding-right: 2px;
                }
                &:nth-of-type(8) {
                    padding-right: 2px;
                }
                &:nth-of-type(12) {
                    padding-right: 2px;
                }
                span {
                    margin-top: 11px;
                    display: block;
                    width: 24px;
                    height: 24px;
                    background: url(../img/TB1eiXTXlTH8KJjy0FiXXcRsXXa-24-595.png) 0 0 no-repeat;
                    background-position: 0 0;
                }
                p {
                    font-size: 12px;
                    height: 24px;
                    margin-top: 5px;
                    line-height: 24px;
                }
            }
        }
        .aliapp {
            border-top: 1px solid #F5F5F5;
            width: 100%;
            height: 110px;
            >.aliapp_title {
                width: 100%;
                height: 30px;
                overflow: hidden;
                p {
                    margin-left: 20px;
                    height: 30px;
                    line-height: 30px;
                    font-weight: 700;
                    font-size: 16px;
                    float: left;
                }
                >a {
                    display: block;
                    margin-right: 20px;
                    color: #666;
                    height: 30px;
                    font-size: 12px;
                    line-height: 30px;
                    float: right;
                }
            }
            >.aliapp_icon {
                width: 100%;
                height: 84px;
                padding-left: 21px;
                >a {
                    float: left;
                    width: 32px;
                    height: 32px;
                    margin: 0 21px 8px 0;
                    position: relative;
                    >img {
                        width: 32px;
                        height: 32px;
                    }
                    >div {
                        background: #fff;
                        position: absolute;
                        left: -30px;
                        top: -100px;
                        display: none;
                        border: 1px solid #cecece;
                        padding: 10px;
                        >img {
                            width: 64px;
                            height: 64px;
                        }
                    }
                    &:hover {
                        >div {
                            display: block;
                        }
                    }
                }
            }
        }
    }
}

//生活研究所
.yanjiu {
    width: 1150px;
    margin: 10px auto 0;
    background: #fff;
    padding: 20px;
    .yanjiu_box {
        width: 100%;
        height: 82;
        margin: 20px 0 0;
        overflow: hidden;
        >a {
            float: left;
            display: block;
            width: 190px;
            height: 100%;
            overflow: hidden;
            &:hover {
                .yanjiu_imgbox {
                    border: 1px solid $color2!important;
                }
                .yanjiu_detail_title {
                    color: $color2!important;
                }
            }
            .yanjiu_content {
                .yanjiu_imgbox {
                    width: 66px;
                    height: 66px;
                    border-radius: 50%;
                    padding: 7px;
                    float: left;
                    border: 1px solid #13d0a1;
                    img {
                        border-radius: 50%;
                        width: 66px;
                        height: 66px;
                    }
                }
            }
            .yanjiu_detail {
                float: left;
                margin-left: 10px;
                font-size: 14px;
                .yanjiu_detail_title {
                    color: #000000;
                    margin-top: 6px;
                    height: 24px;
                    line-height: 24px;
                }
                .yanjiu_dec {
                    height: 22px;
                    line-height: 22px;
                    color: $color3;
                }
                .yanjiu_hot {
                    height: 30px;
                    line-height: 30px;
                    color: $color3;
                    font-size: 12px;
                }
            }
        }
    }
}

//有好货
.hao_guang {
    display: flex;
    justify-content: space-between;
    width: $width;
    margin: 10px auto;
    .haohuo {
        background: $color4;
        width: 550px;
        padding: 20px;
        .haohuo_content {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            >a {
                float: left;
                display: block;
                width: 180px;
                margin-top: 20px;
                .img_box {
                    width: 180px;
                    height: 180px;
                    background: #4f4f4f;
                    >img {
                        opacity: .9;
                        width: 180px;
                        height: 180px;
                        background: $color1;
                        &:hover {
                            opacity: .8;
                        }
                    }
                }
                .haohuo_content_title {
                    font-size: 16px;
                    margin: 10px 0 5px 10px;
                    line-height: 20px;
                    overflow: hidden;
                    height: 20px;
                    color: #333;
                }
                .haohuo_content_detail {
                    font-size: 14px;
                    color: $color5;
                    width: 170px;
                    overflow: hidden;
                    word-break: break-word;
                    line-height: 24px;
                    height: 24px;
                    margin-left: 10px;
                }
                .haohuo_pin {
                    height: 17px;
                    line-height: 17px;
                    font-size: 12px;
                    color: #35b1ff;
                    margin: 15px 10px;
                }
                &:hover {
                    .haohuo_content_title {
                        color: $color2;
                    }
                }
            }
        }
    }
    .guangjie {
        background: $color4;
        width: 550px;
        padding: 20px;
        .guangjie_content {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            >a {
                float: left;
                display: block;
                width: 180px;
                margin-top: 20px;
                .img_box {
                    width: 180px;
                    height: 180px;
                    background: #4f4f4f;
                    >img {
                        opacity: .9;
                        width: 180px;
                        height: 180px;
                        background: $color1;
                        &:hover {
                            opacity: .8;
                        }
                    }
                }
                .haohuo_content_title {
                    font-size: 16px;
                    margin: 10px 0 5px 10px;
                    line-height: 22px;
                    height: 44px;
                    overflow: hidden;
                    color: $color5;
                }
                .haohuo_pin {
                    font-size: 12px;
                    color: #35b1ff;
                    height: 22px;
                    line-height: 22px;
                    margin: 15px 10px;
                    >.guangjie_img {
                        width: 22px;
                        height: 22px;
                        float: left;
                        margin-right: 10px;
                        display: inline-block;
                        img {
                            border-radius: 50%;
                            width: 100%;
                            height: 100%;
                        }
                    }
                    >.guangjie_name {
                        float: left;
                        color: $color5;
                    }
                }
                &:hover {
                    .haohuo_content_title {
                        color: $color2;
                    }
                }
            }
        }
    }
}

.qianggou {
    background: $color4;
    width: 1150px;
    margin: 0 auto;
    padding: 20px;
    .taobao_title {
        >span {
            >span {
                background: #FFEEE5;
                color: #FC4200;
                font-weight: 700;
                display: inline-block;
                height: 15px;
                padding: 0 2px;
                line-height: 15px;
            }
        }
        >.qianggou_change {
            float: right;
            margin-right: 20px;
        }
    }
    .qianggou_content {
        display: flex;
        justify-content: space-between;
        >a {
            display: flex;
            width: 360px;
            margin-top: 20px;
            .img_box {
                float: left;
                width: 180px;
                height: 180px;
                background: #4f4f4f;
                >img {
                    opacity: .9;
                    width: 180px;
                    height: 180px;
                    background: $color1;
                    &:hover {
                        opacity: .8;
                    }
                }
            }
            .qianggou_txt{
                flex: 1;
                height: 180px;
                padding-left: 15px;
                .haohuo_content_title {
                    height: 44px;
                    line-height: 22px;
                    font-size: 16px;
                    margin-top: 10px;
                    margin-bottom: 20px;
                    color: #666;
                    
                }
                .haohuo_content_detail {
                    font-size: 12px;
                    height: 24px;
                    line-height: 24px;
                    color: $color5;
                }
                .haohuo_pin {
                    color: $color2;
                    font-size: 20px;
                    margin-top: 50px;
                    font-family: "微软雅黑";
                    b{
                        font-size: 14px;
                        font-weight: normal;
                    }
                    span{
                        margin-left: 10px;
                        font-size: 12px;
                        color: $color5;
                        text-decoration: line-through;
                    }
                }
                
            }
            &:hover{
                .haohuo_content_title{
                    color: $color2;
                }
            }
        }
    }
}

//标题样式
.taobao_title {
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    >img {
        float: left;
        height: 24px;
        margin-right: 20px;
    }
    >span {
        float: left;
        color: $color5;
    }
    >a {
        cursor: pointer;
        float: right;
        color: $color5;
    }
}

//每日好店和淘宝直播
.dian_bo{
    width: $width;
    margin: 10px auto 0;
    display: flex;
    justify-content: space-between;
    .haodian{
        background: #fff;
        width: 551px;
        padding: 20px;
        padding-bottom: 0;
        .dian_bo_content{
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        >a{
            margin: 10px 0 20px;
            display: flex;
            justify-content: space-between;
            width: 271px;
            flex-wrap: wrap;
            ._title{
                height: 42px;
                line-height: 42px;
                >span:nth-of-type(1){
                    float: left;
                    font-size: 16px;
                    color: #333;
                    margin-right: 10px;
                }
                >span:nth-of-type(2){
                    float: left;
                    font-size: 12px;
                    color: $color5;
                }
            }
            .img_box{
                display: flex;
                justify-content: space-between;
                width: 100%;
                .box_left{
                    width: 180px;
                    height: 180px;
                    .img_wrap{
                        width: 100%;
                        height: 100%;
                        background: #4F4F4F;
                        img{
                            width: 100%;
                            height: 100%;
                            opacity: .9;
                            &:hover{
                                opacity: .8;
                            }
                        }
                    }
                }
                .box_right{
                    @extend .box_left;
                    width: 89px;
                    height: 180px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    .img_wrap{
                        height: 89px;
                    }
                }
                
            }
            &:hover{
                ._title{
                    >span:nth-of-type(1){
                        color: $color2;
                    }
                }
            }
        }
        }
    }
    .zhibo{
        @extend .haodian;
        .dian_bo_content{
            >a{
                .box_left{
                    position: relative;
                    >p{
                        position: absolute;
                        left: 10px;
                        bottom: 20px;
                        z-index: 2;
                        color: #fff;
                        width: 150px;
                        height: 20px;
                        line-height: 20px;
                        font-size: 14px;
                        overflow: hidden;
                    }
                }
            }
        }
    }
}
.taobao_title1{
    line-height: 20px;
    height: 20px;
    padding: 19px 0;
    font-weight: 700;
    >span{
        width: 0;
        margin-left:20px ;
        margin-right: 10px;
        float: left;
        height: 20px;
        border-right: 4px solid #AD45Df;
    }
    >p{
        float: left;
        font-size: 20px;
        color: #AD45Df;
    }
}
.baoliao{
    width: $width;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    .baoliao_left{
        background: #fff;
        width: 840px;
        .baoliao_content{
            width: 100%;
            overflow: hidden;
            .baoliao_box{
                width: 258px;
                padding: 10px;
                border: 1px solid transparent;
                border-top:1px solid #F4F4F4;
                border-bottom: 1px solid #fff;
                border-right: 1px solid #F4F4F4;
                float: left;
                &:hover{
                    border: 1px solid $color2;
                }
                >p:nth-of-type(1){
                    margin-top: 15px;
                    height: 26px;
                    line-height: 26px;
                    font-size: 16px;
                    color: #333;
                }
                >p:nth-of-type(2){
                    margin-bottom: 10px;
                    height: 22px;
                    line-height: 22px;
                    font-size: 12px;
                    color: $color5;
                }
                .img_box{
                    padding-left: 10px;
                    padding-bottom: 20px;
                    display: flex;
                    justify-content: space-between;
                    a{
                        img{
                            width: 120px;
                            height: 120px;
                        }
                    }
                }
            }
        }
    }
    .baoliao_right{
        background: #fff;
        width: 300px;
        border: 1px solid #fff;
        padding: 20px;
        img{
            width: 300px;
            height: 250px;
            background: red;
        }
        &:hover{
            border: 1px solid $color2;
        }
    }
}

//品质生活家

.pin_te{
    width: $width;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    .pin{
        background: #fff;
        width: 590px;
        .taobao_title1{
            >span{
                border-color: #28ABFF;
            }
            >p{
                color: #28ABFF;
            }
        }
        .pin_te_box{
            overflow: hidden;
            .pin_te_left{
                float: left;
                width: 294px;
                >div,a{
                    transition: all 0.5s linear;
                    display: block;
                    border: 1px solid transparent;
                    border-top: 1px solid $color1;
                    border-bottom: 1px solid #fff;
                    &:hover{
                        border: 1px solid $color2;
                    }
                }
                .div1{
                    width: 254px;
                    height: 317px;
                    padding: 19px;
                    >div{
                        width: 100%;
                        height: 100%;
                        background: #4F4F4F;
                        img{
                        width: 100%;
                        height: 100%;
                        opacity: .9;
                        &:hover{
                            opacity: .8;
                        }
                    }
                    }
                }
                .div2{
                    width: 292px;
                    height: 117px;
                    .div2_left{
                        float: left;
                        width: 122px;
                        height: 50px;
                        padding: 35px 0 0 40px;
                        p:first-of-type{
                            color: #666;
                            height: 30px;
                            font-size: 16px;
                            line-height: 30px;
                            overflow: hidden;
                        }
                        p:last-of-type{
                            color: $color5;
                            height: 20px;
                            font-size: 12px;
                            line-height: 20px;
                            overflow: hidden;
                        }
                    }
                    img{
                        float: left;
                        width: 100px;
                        height: 100px;
                        margin-top: 10px;
                    }
                }
            }
            .pin_te_right{
                float: left;
                width: 296px;
                >div{
                    transition: all 0.5s linear;
                    width: 256px;
                    height: 176px;
                    padding: 30px 19px;
                    border: 1px solid transparent;
                    border-bottom: 1px solid #fff;
                    border-top: 1px solid $color1;
                    border-left: 1px solid $color1;
                    >p:first-of-type{
                        height: 32px;
                        line-height: 32px;
                        span{
                            color:$color5;
                            float: left;
                            font-size: 12px;
                        }
                        >a>span{
                            color: #666;
                            font-size: 16px;
                        }
                    }
                    >p:last-of-type{
                        margin-top: 24px;
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        >a>img{
                            width: 120px;
                            height: 120px;
                        }
                    }
                    &:hover{
                        border: 1px solid $color2;
                    }
                }
            }
        }
    }
    .te{
        @extend .pin;
        .taobao_title1{
            >span{
                border-color: #ff5000;
            }
            >p{
                color: #ff5000;
            }
        }
    }
}

//边框混合器
@mixin biankuang{
    transition: all 0.5s linear;
    border: 1px solid transparent;
    border-top: 1px solid $color1;
    border-right: 1px solid $color1;
    border-bottom: 1px solid #fff;
    &:hover{
        border: 1px solid $color2;
    }
}

//实惠专业户
.shihui{
    width: $width;
    margin: 10px auto;
    background: #fff;
    .taobao_title1{
            >span{
                border-color: #31ba98;
            }
            >p{
                color: #31ba98;
            }
        }
    .shihui_content{
        overflow: hidden;
        width: 100%;
        .shihui_box{
            @include biankuang;
            width: 216px;
            padding-left: 20px;
            float: left;
            >p:first-of-type{
                height: 26px;
                padding-top: 24px;
                >a{
                    float: left;
                    font-size: 16px;
                    color: #666;
                    line-height: 26px;
                    &:hover{
                        color: $color2;
                    }
                }
            }
            >div{
                display: flex;
                margin-bottom: 10px;
                justify-content: flex-start;
                width: 100%;
                >a{
                    display: block;
                    width: 120px;
                    height: 120px;
                    >img{
                        width: 100%;
                        height: 100%;
                        
                    }
                }
                >.shihui_box_right{
                    flex: 1;
                    padding-left: 10px;
                    >p:first-of-type{
                        width: 100%;
                        overflow: hidden;
                        height: 24px;
                        line-height: 24px;
                        font-size: 16px;
                        margin-top: 22px;
                    }
                    >p:last-of-type{
                        width: 100%;
                        overflow: hidden;
                        height: 22px;
                        font-size: 14px;
                        line-height: 14px;
                    }
                    >a{
                        display: block;
                        width: 72px;
                        height: 22px;
                        font-size: 12px;
                        line-height: 22px;
                        text-align: center;
                        color: $color2;
                        border: 1px solid $color2;
                        border-radius: 11px;
                    }
                }
            }
        }
    }
}

//热卖单品
.danpin{
    width: $width;
    margin: 0 auto;
    background: #fff;
    .taobao_title1{
        >span{
            border-color: #ff242d;
        }
        >p{
            color: #ff242d;
        }
    }
    >p{
        padding-bottom: 20px;
        padding-left: 10px;
        width: 100%;
        height: 20px;
        line-height: 20px;
        overflow: hidden;
        >a{
            color: #666;
            font-size: 12px;
            padding-left: 10px;
        }
    }
    .danpin_content{
        width: 100%;
        .content_top{
            width: 100%;
            overflow: hidden;
            >.danpin_box{
                @include biankuang;
                float: left;
                display: block;
                width: 196px;
                padding: 20px;
                >img{
                    width: 197px;
                    height: 197px;
                }
                p:nth-of-type(1){
                    height: 40px;
                    width: 100%;
                    line-height: 20px;
                    font-size: 14px;
                    color: #333;
                    overflow: hidden;
                    margin: 8px 0;
                }
                p:nth-of-type(2){
                    height: 18px;
                    width: 100%;
                    line-height: 18px;
                    font-size: 12px;
                    color: $color5;
                    >span{
                        float: left;
                        margin-right: 10px;
                        margin-bottom: 17px;
                    }
                }
                p:nth-of-type(3){
                    height: 22px;
                    width: 100%;
                    line-height: 22px;
                    font-size: 20px;
                    color: $color2;
                    overflow: hidden;
                    >span{
                        font-family: "微软雅黑";
                        float: left;
                        >b{
                            font-size: 12px;
                        }
                        &:last-of-type{
                            float: right;
                            font-size: 12px;
                            color: $color5;
                        }
                    }
                }
            }
        }
        .content_bottom{
            border-top: 1px solid $color1;
            display: flex;
            padding: 20px 18px;
            justify-content: space-between;
            >a{
                border: 2px solid #fff;
                width: 375px;
                height: 130px;
                &:hover{
                    border: 2px solid $color2;
                }
                >img{
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}

//猜你喜欢
.guess{
    width: $width;
    margin: 10px auto;
    background: #fff;
    .taobao_title1{
        >span{
            border-color: #ff9f00;
        }
        >p{
            color: #ff9f00;
        }
    }
    .guess_content{
        width: 100%;
        overflow: hidden;
        .guess_box{
            @include biankuang;
            position: relative;
            float: left;
            width: 196px;
            padding: 20px 20px 0px;
            >a:first-of-type{
                display: block;
                width: 100%;
                height: 197px;
                background: #4F4F4F;
                >img{
                    width: 100%;
                    height: 100%;
                    opacity: .9;
                    &:hover{
                        opacity: .8;
                    }
                }
            }
            >p:nth-of-type(1){
                height: 44px;
                line-height: 22px;
                font-size: 14px;
                overflow: hidden;
                margin-top:7px ;
                
            }
            >p:nth-of-type(2){
                height: 24px;
                color: $color2;
                line-height: 24px;
                font-size: 20px;
                margin-top:22px ;
                margin-bottom: 20px;
                font-family: "微软雅黑";
                >span{
                    font-size: 12px;
                }
            }
            >a:nth-of-type(2){
                position: absolute;
                display: block;
                width: 236px;
                height: 82px;
                left: 0px;
                bottom: 0;
                background: $color2;
                color: #fff;
                display: none;
                >p:first-of-type{
                    width: 120px;
                    height: 32px;
                    font-size: 18px;
                    text-align: center;
                    line-height: 32px;
                    margin: 15px auto 0;
                    border-bottom: 1px solid #fff;
                }
                >p:last-of-type{
                    margin-top: 5px;
                    height: 22px;
                    font-size: 12px;
                    text-align: center;
                    
                }
            }
            &:hover{
                >a:nth-of-type(2){
                    display: block;
                }
            }
        }
    }
}
//侧边导航
.nav_fixed{
    width: 50px;
    //display: none;
    position: fixed;
    top: 75px;
    right: 50%;
    margin-right: -655px;
    >a{
        display: block;
        width: 34px;
        height: 40px;
        background: #fff;
        padding: 10px 8px 0;
        >span{
            display: block;
            font-size: 13px;
            line-height: 17px;
            width: 34px;
            height: 39px;
            text-align: center;
            border-bottom: 1px solid $color5;
        }
        &:hover,&.hover{
            color: #fff;
            background: $color2;
            font-weight: 700;
        }
    }
}
